* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.flexbox {
  display: flex;
  justify-content: space-around;

  width: 100%;
  max-width: 768px;
  height: 300px;
  padding: 15px;

  overflow: hidden;
  margin: 0 auto;
}

.flexbox .box {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;
  padding: 15px;

  border: 2px solid #313131;
}

.flexbox .box .circle {
  background-color: green;

  width: 100px;
  height: 100px;
  padding: 15px 25px;
  margin-bottom: 15px;
  border-radius: 100%;

  cursor: pointer;
}

#box-1 .circle {
  background-color: red;
}

.dragging {
  background-color: red !important;
}
